@import url( 'https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&subset=cyrillic' )

@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css')

dfn, u, caption, a, del, i, var, samp, code, s, ins
	font: normal normal 400 normal 14px / normal Montserrat-Regular, Montserrat
	text-decoration: none

a, del
	color: rgb(4,201,255)
	text-decoration: none
	cursor: pointer

a:hover
	color: rgb(129, 143, 205);

i
	position: relative
	&:after
		content: ""
		position: absolute
		top: 0px
		right: 0px
		bottom: 0px
		left: 0px
		margin: auto
		z-index: 1

html
	min-height: 100%
	margin: 0px
	padding: 0px
	height: 100%

body
	display: grid
	grid-template-columns: 1fr
	grid-template-rows: auto 1fr auto
	min-height: 100%
	margin: 0px
	padding: 0px
	height: 100%
	font: normal normal 400 normal 14px / normal Montserrat-Regular, Montserrat
	-webkit-font-smoothing: antialiased
	text-rendering: optimizeLegibility
	color: rgb(64, 64, 64)
	background-color: rgb(27, 34, 67)
	:focus
		box-shadow: none
		outline: 0px solid transparent

header
	box-sizing: border-box
	display: grid
	grid-template-rows: 72px
	grid-template-columns: auto 1fr auto
	grid-column-gap: 16px
	background-color: rgb(40, 49, 90)

	& > *
		align-self: stretch;
		display: flex;
		align-items: center;

	& > a
		justify-content: center; width: 132px
		& i 
			font-size: 24px
			margin: 0px .3ex
			&:first-child 
				font-weight: bold
				font-size: 42px
				color: white
				margin: 0px .1ex
				& ~ i 
					transform: translateY(12px)
			&:last-child 
				font-size: 16px
				margin: -48px 0px 0px -32px
footer
	position: fixed
	right: 40px
	bottom: 40px
	margin: auto
	display: flex
	align-items: center
	justify-content: center
